h1 {
    color: rgb(0, 140, 255);
    font-size: 75px;
}

h2, h3, h4{
    color: #46484c;
}
p {
    color: #8b8b8bcc
}
body{
    background-color: #fffbf7;
}
button {
    background-color: #025157;
    color: #fffbf7;
}